@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />

@foreach (var user in Model.Users)
{
    <h3>@user.ID</h3>
    <h4>@user.UserName</h4>
    <h5>@user.Email</h5>
}